// bower:scss
// endbower

body {
  background: #dedede;
  transition: all ease 1s;
  padding-top: 70px;
}

#bar {
  background: url('https://socket.io/assets/img/galaxy.jpg');
  height: 7px;
  background-size: cover;
  background-position: left 60%;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

h1 {
  font-weight: 200 !important;
}

.page-index {
  h1 {
    text-align: center;
    font-weight: 100;
  }
  .tag-line {
    margin-top: -20px;
    text-align: center;
    opacity: 0.3;
  }
}

.md-large {
  font-size: 20px;
  font-weight: 400;
  padding: 8px 36px;
}

md-input-container.md-large-input {
  font-size: 20px;
}

.md-round {
  border-radius: 100px;
}

md-option {
  text-transform: capitalize;
}


md-progress-circular {
  path {
    stroke-width: 5px !important;
  }
}

a {
  &:hover {
    cursor: pointer;
  }
}

#games-list {
  small {
    font-size: 12px;
    font-weight: bold;
    opacity: 0.5;
  }
}

.page-all-games {
  h1.md-display-3 { opacity: 0.5; }
}

#game-container {
  width: 100%;
  height: 608px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: white;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  border-radius: 3px;
  .game-players, .game-board {
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    margin: 10px;
    position: relative;
    overflow: hidden;
  }
  .game-results {
    table {
      width: 100%;
      th {
        background: whitesmoke;
      }
      th,td {
        border: 1px solid lightgray;
        padding: 10px;
      }
    }
  }

  .curtain, .board {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
  }
  .timer {
    position: absolute;
    right: 25px;
    color: white;
    z-index: 1;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 300px;
    text-align: center;
    line-height: 2.5;
  }
}

.page-play {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

#games-clickit {
  text-align: center;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0,0,0,0.9);
  color: white;
  .md-display-3 {
    opacity: 0.3;
  }
  md-button {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    font-weight: 200;
    font-size: 36px;
    opacity: 0.7;
  }
  button.md-fab {
    width: 150px !important;
    height: 150px !important;
    .material-icons {
      font-size: 70px;
      margin-top: -34px;
      margin-left: 17px;
    }
  }
}
