<div class="page-all-games">
  <div layout="row" flex layout-align="center">
    <h1 class="md-display-3">Available Games</h1>
  </div>
  <div layout="row" flex layout-align="center" ng-if="pg.init">
    <games-list game-play="pg.gamePlay"></games-list>
  </div>
</div>
